#notice {
	padding: 24px;
}

#notice__line_header {
	font-size: 24px;
	font-weight: 500;
	line-height: 140%;
	margin-bottom: 10px;
}

#notice__messages {
	display: grid;
	grid-template-columns: repeat(2,1fr);
}

.profile {
	display: inline-flex;
	background-color: white;
	padding: 3px 5px;
	border-radius: 8px;
	align-items: center;
	cursor: pointer;
}

.profile {
	margin: 0 20px 20px 0;

}

.profile_photo_image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 4px;
	margin-right: 8px;
}


.profile_info_name {
	font-weight: 500;
	font-size: 25px;
	line-height: 110%;
}